---
import { Image } from "astro:assets";
import { ProjectState, ProjectType } from "./Projects.astro";

interface Project {
    type: ProjectType;
    typeColor: string;
    state: ProjectState;
    name: string;
    technologies: any[];
    image: string;
    url?: string;
}

const { type, typeColor, state, name, technologies, image, url } = Astro.props;
---

<div data-type={type} class="mb-28">
    <div class="project">
        <h3 class="font-semibold text-2xl flex justify-between">
            <span>{name}</span>
            <span
                class={`text-sm `}
                style={{
                    color: typeColor,
                }}>{type}</span
            >
        </h3>
        <div>
            <Image class="rounded-xl my-3" src={image} alt={name} />
        </div>
        <div>
            <div class="flex gap-5 my-3 flex-wrap">
                {
                    technologies.map((technology: any) => {
                        return (
                            <div
                                style={{
                                    backgroundColor: technology.color + "50",
                                }}
                                class="flex gap-3 border rounded-xl p-1 px-3 items-center text-xs "
                            >
                                <technology.icon class="size-4" />
                                {technology.name}
                            </div>
                        );
                    })
                }
            </div>
            <slot name="description" />
            <slot name="link" />
        </div>
    </div>
</div>
