---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/FileSmile.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			property="og:image"
			content="https://www.vicgb.dev/social_img.webp"
		/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@VdeVic__" />
		<meta name="twitter:creator" content="@VdeVic__" />
		<meta
			name="twitter:title"
			content="Victor Garcia - Fullstack Developer"
		/>
		<meta name="twitter:description" content={description} />
		<meta
			name="twitter:image"
			content="https://www.vicgb.dev/social_img.webp"
		/>
		<meta
			name="twitter:image:alt"
			content="Captura de pantalla de la cabecera de la web del porfolio de Victor"
		/>
	</head>
	<body>
		<div
			class="fixed top-0 z-[-2] h-screen w-screen bg-[#d8d8d8] bg-[radial-gradient(#ffffff33_1px,#ffffff_1px)] dark:bg-[#0e0e0e] dark:bg-[radial-gradient(#ffffff33_1px,#0e0e0e_1px)] bg-[size:20px_20px]"
		>
		</div>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}

	html {
		background-color: #1f1f1f;
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.colored {
		background: linear-gradient(45deg, #0fc209, #49a7b8);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	/* when dark mode */
	@media (prefers-color-scheme: dark) {
		.colored {
			background: linear-gradient(45deg, #14f10c, #5dcbdf);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.on-colored:hover {
		background: linear-gradient(45deg, #14f10c, #5dcbdf);
		font-weight: 600;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		scale: 1.1;
		transition: all 0.2s;
	}

	.on-colored-bg:hover {
		background: linear-gradient(45deg, #14f10c, #5dcbdf);
		font-weight: 600;
		scale: 1.2;
		transform: translate(0px, -5px);
		transition: all 0.2s;
	}

	#projects:has(div > label > input[name="personal"]:not(:checked))
		> div
		> div:not([data-type="Empresa"]) {
		display: none;
	}

	#projects:has(div > label > input[name="enterprise"]:not(:checked))
		> div
		> div:not([data-type="Personal"]) {
		display: none;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
